@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
//font
$Rubik: 'Rubik', sans-serif;

//image
$hands: url('../images/hand.png');
$stripe: url('../images/stripe.svg');
$stripe1: url('../images/Stripe1.svg');

//color
$primary-color: #013C4C;
$page-404-color:#77959D;
$secondary-color:#eeeeee;
$accent-color: #D3CCA6;
$link-color: #64FFDA;
$text-color: #CECECE;

//box-shadow
$box-shadow:0px 1rem 2rem -.48rem;